<head>

</head>

<p-messages></p-messages>

<div class="imagemMapa">

  <img src="assets/images/brasil.PNG" width="600" height="600">
  <button style="position: relative; right: 280px; bottom: 540px" mat-raised-button [color]="'primary'" (click)="obterRota('MCP')">MCP</button>
  <button style="position: relative; right: 560px; bottom: 370px" mat-raised-button [color]="'primary'" (click)="obterRota('RBR')">RBR</button>
  <button style="position: relative; right: 510px; bottom: 370px" mat-raised-button [color]="'primary'" (click)="obterRota('PVH')">PVH</button>
  <button style="position: relative; right: 525px; bottom: 555px" mat-raised-button [color]="'primary'" (click)="obterRota('BVB')">BVB</button>
  <button style="position: relative; right: 425px; bottom: 460px" mat-raised-button [color]="'primary'" (click)="obterRota('ATM')">ATM</button>
  <button style="position: relative; right: 610px; bottom: 465px" mat-raised-button [color]="'primary'" (click)="obterRota('MAO')">MAO</button>
  <button style="position: relative; right: 440px; bottom: 375px" mat-raised-button [color]="'primary'" (click)="obterRota('PMW')">PMW</button>
  <button style="position: relative; right: 420px; bottom: 385px" mat-raised-button [color]="'primary'" (click)="obterRota('PHB')">PHB</button>
  <button style="position: relative; right: 465px; bottom: 460px" mat-raised-button [color]="'primary'" (click)="obterRota('SLZ')">SLZ</button>
  <button style="position: relative; right: 425px; bottom: 460px" mat-raised-button [color]="'primary'" (click)="obterRota('FOR')">FOR</button>
  <button style="position: relative; right: 395px; bottom: 390px" mat-raised-button [color]="'primary'" (click)="obterRota('REC')">REC</button>
  <button style="position: relative; right: 430px; bottom: 445px" mat-raised-button [color]="'primary'" (click)="obterRota('SBNT')">SBNT</button>
  <button style="position: relative; right: 450px; bottom: 420px" mat-raised-button [color]="'primary'" (click)="obterRota('JPA')">JPA</button>
  <button style="position: relative; right: 510px; bottom: 360px" mat-raised-button [color]="'primary'" (click)="obterRota('MCZ')">MCZ</button>
  <button style="position: relative; right: 555px; bottom: 330px" mat-raised-button [color]="'primary'" (click)="obterRota('RIA')">RIA</button>
  <button style="position: relative; right: 655px; bottom: 355px" mat-raised-button [color]="'primary'" (click)="obterRota('SSA')">SSA</button>
  <button style="position: relative; right: 825px; bottom: 270px" mat-raised-button [color]="'primary'" (click)="obterRota('GYN')">GYN</button>
  <button style="position: relative; right: 820px; bottom: 285px" mat-raised-button [color]="'primary'" (click)="obterRota('BSB')">BSB</button>
  <button style="position: relative; right: 970px; bottom: 345px" mat-raised-button [color]="'primary'" (click)="obterRota('CGB')">CGB</button>
  <button style="position: relative; right: 990px; bottom: 220px" mat-raised-button [color]="'primary'" (click)="obterRota('CMG')">CMG</button>
  <button style="position: relative; left: 425px; bottom: 260px" mat-raised-button [color]="'primary'" (click)="obterRota('BHZ')">BHZ</button>
  <button style="position: relative; left: 450px; bottom: 258px" mat-raised-button [color]="'primary'" (click)="obterRota('VIX')">VIX</button>
  <button style="position: relative; left: 385px; bottom: 202px" mat-raised-button [color]="'primary'" (click)="obterRota('GIG')">GIG</button>
  <button style="position: relative; left: 280px; bottom: 185px" mat-raised-button [color]="'primary'" (click)="obterRota('GRU')">GRU</button>
  <button style="position: relative; left: 195px; bottom: 168px" mat-raised-button [color]="'primary'" (click)="obterRota('CWB')">CWB</button>
  <button style="position: relative; left: 190px; bottom: 125px" mat-raised-button [color]="'primary'" (click)="obterRota('FLN')">FLN</button>
  <button style="position: relative; left: 130px; bottom: 80px" mat-raised-button [color]="'primary'" (click)="obterRota('POA')">POA</button>
</div>

<div class="divResultados" [hidden]="(origem == '')">
  <p id="textoOrigemDestino">Origem: {{origem}} - Destino: {{destino}} </p>

  <table mat-table class="full-width-table" aria-label="Elements" [dataSource]="resultado.path" [hidden]="resultado.path.length == 0">
    <ng-container matColumnDef="origem">
      <th mat-header-cell *matHeaderCellDef class="header">Origem</th>
      <td mat-cell *matCellDef="let path">{{path.origemPath}}</td>
    </ng-container>
    <ng-container matColumnDef="distancia">
      <th mat-header-cell *matHeaderCellDef class="header">Distancia</th>
      <td mat-cell *matCellDef="let path">{{path.distanciaPath}}</td>
    </ng-container>
    <ng-container matColumnDef="destino">
      <th mat-header-cell *matHeaderCellDef class="header">Destino</th>
      <td mat-cell *matCellDef="let path">{{path.destinoPath}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <p id="distanciaTotal" [hidden]="resultado.path.length == 0" >Distancia total: {{resultado.distanciaTotal}}</p>

</div>



