<head>

</head>

<div class="imagemMapa">

  <img src="assets/images/brasil.PNG" width="600" height="600">
  <button style="position: relative; right: 280px; bottom: 540px" mat-raised-button [color]="buttonColor" (click)="buttonColor = 'warn'"  (click)="obterRota('MCP')">MCP</button>
  <button style="position: relative; right: 560px; bottom: 370px" mat-raised-button [color]="buttonColor" (click)="buttonColor = 'warn'"  (click)="obterRota('RBR')">RBR</button>
  <button style="position: relative; right: 510px; bottom: 370px" mat-raised-button [color]="buttonColor" (click)="buttonColor = 'warn'"  (click)="obterRota('PVH')">PVH</button>
  <button style="position: relative; right: 525px; bottom: 555px" mat-raised-button [color]="buttonColor" (click)="buttonColor = 'warn'"  (click)="obterRota('BVB')">BVB</button>
  <button style="position: relative; right: 425px; bottom: 460px" mat-raised-button [color]="buttonColor" (click)="buttonColor = 'warn'"  (click)="obterRota('ATM')">ATM</button>
  <button style="position: relative; right: 610px; bottom: 465px" mat-raised-button [color]="buttonColor" (click)="buttonColor = 'warn'"  (click)="obterRota('MAO')">MAO</button>
  <button style="position: relative; left: 370px; bottom: 405px" mat-raised-button [color]="buttonColor" (click)="buttonColor = 'warn'"  (click)="obterRota('PMW')">PMW</button>
  <button style="position: relative; left: 420px; bottom: 450px" mat-raised-button [color]="buttonColor" (click)="buttonColor = 'warn'"  (click)="obterRota('PHB')">PHB</button>
  <button style="position: relative; left: 350px; bottom: 490px" mat-raised-button [color]="buttonColor" (click)="buttonColor = 'warn'"  (click)="obterRota('SLZ')">SLZ</button>
  <button style="position: relative; left: 385px; bottom: 490px" mat-raised-button [color]="buttonColor" (click)="buttonColor = 'warn'"  (click)="obterRota('FOR')">FOR</button>
  <button style="position: relative; left: 375px; bottom: 420px" mat-raised-button [color]="buttonColor" (click)="buttonColor = 'warn'"  (click)="obterRota('REC')">REC</button>
  <button style="position: relative; left: 365px; bottom: 475px" mat-raised-button [color]="buttonColor" (click)="buttonColor = 'warn'"  (click)="obterRota('SBNT')">SBNT</button>
  <button style="position: relative; left: 345px; bottom: 445px" mat-raised-button [color]="buttonColor" (click)="buttonColor = 'warn'"  (click)="obterRota('JPA')">JPA</button>
  <button style="position: relative; left: 305px; bottom: 398px" mat-raised-button [color]="buttonColor" (click)="buttonColor = 'warn'"  (click)="obterRota('MCZ')">MCZ</button>
  <button style="position: relative; left: 253px; bottom: 370px" mat-raised-button [color]="buttonColor" (click)="buttonColor = 'warn'"  (click)="obterRota('RIA')">RIA</button>
  <button style="position: relative; left: 150px; bottom: 385px" mat-raised-button [color]="buttonColor" (click)="buttonColor = 'warn'"  (click)="obterRota('SSA')">SSA</button>
  <button style="position: relative; right: 10px; bottom: 300px" mat-raised-button [color]="buttonColor" (click)="buttonColor = 'warn'"  (click)="obterRota('GYN')">GYN</button>
  <button style="position: relative; right: 5px; bottom: 310px" mat-raised-button [color]="buttonColor" (click)="buttonColor = 'warn'"  (click)="obterRota('BSB')">BSB</button>
  <button style="position: relative; right: 150px; bottom: 375px" mat-raised-button [color]="buttonColor" (click)="buttonColor = 'warn'"  (click)="obterRota('CGB')">CGB</button>
  <button style="position: relative; right: 180px; bottom: 250px" mat-raised-button [color]="buttonColor" (click)="buttonColor = 'warn'"  (click)="obterRota('CMG')">CMG</button>
  <button style="position: relative; right: 65px; bottom: 260px" mat-raised-button [color]="buttonColor" (click)="buttonColor = 'warn'"  (click)="obterRota('BHZ')">BHZ</button>
  <button style="position: relative; right: 35px; bottom: 250px" mat-raised-button [color]="buttonColor" (click)="buttonColor = 'warn'"  (click)="obterRota('VIX')">VIX</button>
  <button style="position: relative; right: 110px; bottom: 202px" mat-raised-button [color]="buttonColor" (click)="buttonColor = 'warn'"  (click)="obterRota('GIG')">GIG</button>
  <button style="position: relative; right: 220px; bottom: 195px" mat-raised-button [color]="buttonColor" (click)="buttonColor = 'warn'"  (click)="obterRota('GRU')">GRU</button>
  <button style="position: relative; right: 290px; bottom: 162px" mat-raised-button [color]="buttonColor" (click)="buttonColor = 'warn'"  (click)="obterRota('CWB')">CWB</button>
  <button style="position: relative; left: -312px; bottom: 125px" mat-raised-button [color]="buttonColor" (click)="buttonColor = 'warn'" (click)="obterRota('FLN')">FLN</button>
  <button style="position: relative; right: 23rem; bottom: 90px" mat-raised-button [color]="buttonColor" (click)="buttonColor = 'warn'"  (click)="obterRota('POA')">POA</button>
</div>

<div [hidden]="(origem == '')">
  <p id="textoOrigemDestino">Origem: {{origem}} - Destino: {{destino}} </p>

  <table mat-table class="full-width-table" aria-label="Elements" [dataSource]="resultado.path" [hidden]="resultado.path.length == 0">
    <ng-container matColumnDef="origem">
      <th mat-header-cell *matHeaderCellDef class="header">Origem</th>
      <td mat-cell *matCellDef="let path">{{path.origemPath}}</td>
    </ng-container>
    <ng-container matColumnDef="distancia">
      <th mat-header-cell *matHeaderCellDef class="header">Distancia</th>
      <td mat-cell *matCellDef="let path">{{path.distanciaPath}}</td>
    </ng-container>
    <ng-container matColumnDef="destino">
      <th mat-header-cell *matHeaderCellDef class="header">Destino</th>
      <td mat-cell *matCellDef="let path">{{path.destinoPath}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <p id="distanciaTotal" [hidden]="resultado.path.length == 0" >Distancia total: {{resultado.distanciaTotal}}</p>

</div>



